@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Mono";
  src: url("../fonts/SFMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

html {
  scroll-behavior: smooth;
  background-color: #e2e8f0;
}

body {
  font-family: "Open Sans";
}

.title {
  font-family: "Raleway";
}

.javascript {
  font-family: "SF Mono";
}

.projects::before,
.projects::after,
.about::before,
.about::after {
  content: "";
  display: block;
  height: 1px;
  width: 35px;
  background-color: rgb(48, 60, 85);
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.tools {
  font-family: "SF Mono";
}

@media (min-width: 768px) {
  .projects::before,
  .projects::after,
  .about::before,
  .about::after {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .projects::before,
  .projects::after,
  .about::before,
  .about::after {
    width: 150px;
  }
}
